#wrapper{
    width: 960px;
    margin: 0 auto;
}

html{
    font-family: Arial;
}

.text-center{
    text-align: center;
}

h1{
    text-transform: uppercase;
}

ul#products-list{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}   

.product-item{
    border: 1px solid #f5f5f5;
    flex-basis: calc(100%/3);
    position: relative;

}

li{
    margin: 20px 0;
    padding:0 10px;
    box-sizing: border-box;
}

.product-item:hover{
    border: 1px solid orange;
}

.product-item .img-duct{
    margin-top: 10px;
}

.price{
    font-weight: bold;
    color: orange;
    padding: 8px;
}

.product-name{
    color: blue;
    padding: 4px;
}

.product-name:hover, .buy-now:hover{
    cursor: pointer;
}

.buy-now{
    color: tomato;
    padding: 8px;

}

.img-sale{
    position: absolute;
    top: 0;
    right: 0;
}