/* 
    1. Từ tổng quan đến chi tiết
    2. Từ ngoài vào trong 
    3. Từ sau ra trước 
    4. Từ trên xuống dưới
    5. Từ trái qua phải 
*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/*============ HEADER ============*/

#header {
    background-color: #23282d;
    padding-top: 28px;
    padding-bottom: 9px;
    height: auto;
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#header .logo-header {
    max-height: 29px;
}

#header .logo-header img {
    width: 180px;
}

form#search input {
    width: 248px;
    background-color: #131619;
    border: none;
    outline: none;
    padding: 11px 42px 11px 20px;
    font-size: 14px;
    color: #909090;
}

form#search {
    position: relative;
}

form#search button {
    background: none;
    border: none;
    color: #909090;
    position: absolute;
    top: 0;
    right: 0;
    padding: 9px 13px;
}

nav {
    margin-top: 7px;
    padding: 6px 0;
    flex: 100%;
    border-right: 10px solid #ff2d2d;
}

nav ul#main-menu li a {
    color: #eeeeee;
    font-size: 16px;
    padding: 7px 20px;
}

nav ul#main-menu li:first-child a {
    padding: 0;
}

nav ul#main-menu>li:hover>a {
    color: #4db2ec;
    text-decoration: none;
}

/*============ FEATURED ============*/

#wp-featured {
    margin-top: 100px;
}

.box .box-header {
    margin-bottom: 30px;
}

.box .box-header h3 {
    text-decoration: none;
    background-color: #23282d;
    padding: 2px 13px;
    color: #eeeeee;
    display: inline-block;
    margin: -1px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.box.featured .box-body {
    padding-bottom: 30px;
    border-bottom: 1px solid #dadada;
    margin-bottom: 20px;
}

.post-list {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.box.featured .post-list li {
    min-width: 320px;
    padding: 10px 15px 10px 0;
}

.box.featured .post-list li:first-child {
    padding-left: 0;
}

.box.featured .post-list .post-thumb {
    overflow: hidden;
}

.box .post-thumb a {
    display: block;
}

.box.featured .post-list .post-thumb img {
    max-width: 100%;
    height: auto;
}

.box.featured .post-list li img, .box.featured .post-list li .post-title a {
    transition: all 0.25s;
}

.box.featured .post-list li:hover img, .box.featured .post-list li:hover .post-title a {
    transform: scale(1.05);
    color: #3c3c3c;
    text-decoration: none;
}

.box.featured .post-list .post-title {
    padding-top: 20px;
    min-width: 300px;
    max-width: 360px;
}

.box.featured .post-list .post-title a {
    text-transform: uppercase;
    color: #5f5f5f;
    font-weight: 600;
}

/*=================== CONTENT ===================*/

#wp-content {
    flex-direction: column;
    align-items: center;
}

#content {
    padding-bottom: 15px;
}

.box.post-new .box-header h3 {
    background-color: #4db2ec;
    color: #fcfcfc;
}

.box.post-new .box-header {
    border-bottom: 1px solid #4db2ec;
}

#content .list-post li {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
    flex-direction: column;
}

#content .list-post .post-thumb {
    padding-right: 15px;
    overflow: hidden;
    max-width: 370px;
}

#content .post-thumb img {
    min-width: 100%;
    height: auto;
    transition: all 0.15s;
}

#content .post-thumb:hover img {
    transform: scale(1.05);
}

#content .list-post .more-info {
    padding-top: 10px;
}

#content .more-info .post-title {
    font-weight: 600;
    max-width: 370px;
    text-align: center;
    margin-top: 10px;
}

#content .more-info .post-title a {
    color: #111111;
    font-size: 21px;
}

#content .more-info .post-title:hover a {
    color: #4db2ec;
    text-decoration: none;
}

#content .more-info .post-published {
    font-size: 11px;
    font-weight: 600;
    padding: 10px 0;
}

#content .post-published .post-author {
    color: #111111;
}

#content .post-published .post-date {
    color: #aaaaaa;
}

#content .post-published .post-excerpts {
    margin-bottom: 0;
}

#content .post-excerpts p {
    color: #777777;
    font-size: 13px;
}

/*=================== SIDEBAR ===================*/

#sidebar {
    padding-top: 30px;
}

#sidebar a.ads {
    overflow: hidden;
}

#sidebar a {
    display: block;
}

#sidebar .ads img {
    margin-bottom: 40px;
    transition: all 0.15s;
    max-width: 100%;
    height: auto;
}

#sidebar .ads:hover img {
    transform: scale(1.05);
}

.box.top-topic .box-header {
    border-bottom: 1px solid #ff2d2d;
}

.box.top-topic .box-header h3 {
    background-color: #ff2d2d;
}

.box.top-topic .topic-list li a {
    position: relative;
    padding: 6px 0;
    display: block;
    color: #212121;
}

.box.top-topic .topic-list li a:hover {
    text-decoration: none;
    color: #ff2d2d;
    text-transform: uppercase;
}

.box.top-topic .topic-list li span {
    position: absolute;
    right: 0;
}

/*===================== FOOTER =====================*/

#footer {
    background-color: #2e2f30;
    padding-top: 54px;
    padding-bottom: 76px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

#footer .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#footer .box-header h3 {
    background: none;
    font-size: 18px;
    color: #f6f6f6;
    margin: 10px 0;
    padding-left: 0;
}

#footer .logo-header {
    max-width: 278px;
    /* padding-right: 98px; */
}

#footer .logo-header .box-header {
    margin: 0;
    display: none;
}

#footer .logo-header h3 {
    visibility: hidden;

}

#footer .about-us {
    margin-top: 30px;
    margin-bottom: 30px;
}

#footer .about-us p {
    font-size: 14px;
    color: #f6f6f6;
    margin-top: -20px;
    margin-bottom: 0;
}

#footer .about-us a {
    color: #4db2ec;
    text-decoration: none;
}

/* #footer .box.follow-us {
    flex: 180px;
} */

#footer .follow-us .menu-social li a {
    padding: 5px 12px;
    margin-left: 9px;
    background-color: #434648;
    color: #eeeeee;
    display: block;
}

#footer .follow-us .menu-social li a i {
    width: 10px;
    height: 14px;
}

#footer .follow-us .menu-social li:first-child a {
    margin-left: 0;
}

#footer .follow-us .menu-social li:hover a {
    color: #4db2ec;
}

/*========== COPYRIGHT ==========*/

#wp-copyright {
    background-color: #222527;
    font-size: 14px;
    padding: 12px 0;
}

#wp-copyright .container {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#wp-copyright .copyright span {
    color: #f3f3f3;
    padding-bottom: 10px;
    display: block;
}

#menu-footer li {
    padding-left: 30px;
}

#menu-footer li a {
    color: #f3f3f3;
}

#menu-footer li:hover a {
    text-decoration: none;
    color: #4db2ec;
}

#menu-footer li:first-child {
    padding-left: 0;
}

/*======================= RESPONSIVE =======================*/

form#search, nav, .post-published, .post-excerpts {
    display: none;
}


.navbar-responsive {
    color: #c9c9c9;
    font-size: 24px;
    cursor: pointer;
    padding: 0 10px;
}

.navbar-responsive i {
    padding: 0;
}


#responsive-menu {
    background-color: #252b30;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    display: none;
}

#responsive-menu li {
    padding: 6px 16px;
}

#responsive-menu li:first-child{
    padding-top: 20px;
}

#responsive-menu li:last-child {
    padding-bottom: 20px;
}

#responsive-menu>li>a {
    color: #c9c9c9;
    text-decoration: none;
}

#responsive-menu>li:hover>a, #sub-responsive-menu>li:hover>a {
    color: #fff;
}

#sub-responsive-menu {
    padding-left: 48px;
    display: none;
}

#sub-responsive-menu>li>a {
    color: #c2adade1;
}

li.highlight {
    position: relative;
}

.fa-chevron-down, .fa-chevron-up {
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

@media(min-width: 576px) {
    #wp-copyright .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

/* Medium decives (Tablets, width: 767px and up) */

@media(min-width: 768px) {
    .post-published, .post-excerpts {
        display: block;
        text-align: center;
        max-width: 400px;
    }
    ul.list-post li {
        align-items: center;
    }
    ul.list-post li .post-title a {
        color: yellow;
    }

    ul.list-post li {
        align-items: start;
    }

    #wp-content {
        align-items: start;
    }

    #content .more-info .post-title {
        margin-top: 0;
    }
    #content .more-info {
        padding-left: 10px;
    }
    #content .list-post li {
        flex-direction: row;
    }
    #content .list-post .more-info {
        padding-top: 0;
    }
    #content .more-info .post-title, #content .more-info .post-published, #content .more-info .post-excerpts {
        text-align: left;
        max-width: 430px;
    }
    #content .post-excerpts p {
        margin-bottom: 0;
    }
    
    #sidebar {
        display: flex;
        width: 80%;
        justify-content: space-between; 
    }

    #footer .about-us {
        max-width: 480px;
    }
}

/* Large decives (Desktops, width: 992px and up) */

@media(min-width: 992px) {
    form#search, nav {
        display: block;
    }
    .navbar-responsive {
        display: none;
    }
    #wp-featured {
        margin-top: 160px;
    }
    #wp-content {
        flex-direction: row;
        align-items: start;
        justify-content: space-around;
    }

    #content {
        padding-bottom: 0;
        padding-right: 15px;
    }

    #content .more-info .post-title, #content .more-info .post-published, #content .more-info .post-excerpts {
        text-align: left;
        max-width: 300px;
    }

    #content .post-excerpts span.bonus {
        display: none;
    }

    #sidebar {
        display: flex;
        flex-direction: column;
        width: auto;
        padding-top: 0;
        padding-left: 15px;
    }

    #footer .container {
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }
    #footer .logo-header {
        padding-right: 15px;
    }
    #footer a#logo-footer {
        display: block;
    }
    #footer .logo-header .box-header {
        margin: 0;
        display: block;
    }
    
    .about-us {
        max-width: 400px;
    }
    .follow-us {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Extra large decives (Large desktops ,width 1200px and up) */

@media(min-width: 1200px) {
    #wrap-content {
        flex-wrap: no-wrap;
    }
    #content {
        padding-right: 15px;
    }
    ul.list-post li {
        align-items: start;
    }

    #content .more-info .post-excerpts {
        max-width: 470px;
    }

    #content .post-excerpts span.bonus {
        display: inline;
    }
  
    #sidebar {
        padding-top: 0;
        padding-left: 15px;
    }
    #sidebar .ads img {
        max-width: 345px;
    }
    .post-thumb a {
        display: block;
    }
    #footer .logo-header .box-header {
        margin-bottom: 30px;
    }

    #footer .logo-header {
        padding-right: 98px;
        flex-basis: 278px;
        height: auto;
    }
    #footer .about-us {
        margin: 0;
    }
    .follow-us {
        margin-top: 0;
        align-items: start;
    }
    #footer .container {
        text-align: left;
    }
    #footer .about-us p {
        margin-top: 0;
    }
    #footer .about-us {
        max-width: 682px;
        padding-left: 15px;
        padding-right: 195px;
    }
}